/*
Theme Name: Cloud Authorities Theme
Theme URI:
Author: Davide Vargas Picado
Author URI:
Description: Theme to the Cloud Authorities site
Version: 1.0
Text Domain: cloudAuthoritiesTheme
*/

/** GENERAL **/

html {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}

.container {
	margin: 0 auto;
	max-width: 1259px;
	padding: 0 30px;
	padding-top: 40px;
	width: 100%;
}

.page-section {
	display: flex;
	flex-direction: column;
	width: 100%;
}


/** HOME -> HEADER **/

header.header {
	background-image: url("img/hero.png");
	background-position: center center;
	background-size: cover;
	height: 881px;
	margin-bottom: 320px;
}

header div.logo {
	text-align: center;
}

header .header-content {
	color: #FFFFFF;
	margin-top: 40px;
	text-align: center;
}

header .header-content h2 {
	font-size: 36.3px;
	font-weight: 400;
	line-height: 47px;
}

header .header-content p {
	font-weight: 100;
	letter-spacing: 0.5px;
	line-height: 22px;
	margin-top: -15px;
}

header .header-content .left p {
    font-size: 14px;
    letter-spacing: 1.6px;
    line-height: 23px;
    margin-left: -4px;
    margin-top: -16px;
}

header .header-content .right p {
	line-height: 23px;
	margin-top: -15.3px;
}

header .header-content ul {
	font-weight: 100;
	letter-spacing: 0.4px;
	line-height: 29px;
	margin-left: -40px;
	margin-top: 28px;
}

header .header-content li {
	font-size: 14px;
	font-weight: 100;
	letter-spacing: 1.6px;
	list-style-type: none;
}

header .header-content li:before {
	content: url(img/ca_ul.png);
	padding-right: 20px;
	position: relative;
	top: 7px;
}

@media only screen and (min-width: 768px) {
	header .header-content {
		text-align: initial;
	}

	header .header-content p {
		width: 386px;
	}
}

@media only screen and (min-width: 991px) {
	header.header {
		margin-bottom: 0px;
	}

	header .header-content {
		display: flex;
		justify-content: space-between;
		margin-top: 117px;
	}

	header div.logo {
		float: left;
		text-align: left;
		width: 234px;
	}
}


/** HEADER -> TOP MENU **/

.header .top-menu {
	flex-wrap: wrap;
	overflow: hidden;
	width: 100%;
}

header .header-menu {
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

header .header-menu.mobile {
	position: absolute;
	background-color: #2A9BDA;
	width: 90%;
	padding: 0 25px 25px;
}

nav.header-menu-items ul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

nav.header-menu-items li {
	margin: 2px 19px;
}

nav.header-menu-items ul li a {
	color: #FFFFFF;
	display: block;
	padding: 10px 0px;
	text-align: center;
}

nav.header-menu-items li:last-child {
	margin: 0;
}

nav.header-menu-items li a[href*="tel:"] {
	-moz-border-radius: 88px;
	-webkit-border-radius: 88px;
	background-color: #FFFFFF;
	border-radius: 88px;
	color: #2B8555;
	font-size: 16px;
	padding: 10px 32px;
}

@media only screen and (min-width: 768px) {
	header .header-menu { 
		width: 680px;
	}

	nav.header-menu-items li {
		float: left;
	}
}

@media only screen and (min-width: 991px) {
	header .header-menu {
		float: right;
		margin: 0;
		position: relative;
		width: fit-content;
	}

	nav.header-menu-items ul {
		float: right;
	}
}


/** RESPONSIVE MENU **/

@media only screen and (max-width:767px) {
	.mobile-menu a {
		height: 40px;
		background-color: #2588C0;
		width: 100%;
		color: white !important;
		display: block;
		text-align: center;
		line-height: 40px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 20px;
	}
}

@media only screen and (min-width:768px) {
	.mobile-menu a {
		display: none;
	}
}


/** HOME -> CONTACT US **/

header .right {
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	background-color: #FFFFFF;
	border-radius: 22px;
    height: 516px;
    margin: 38px auto 0 auto;
    padding: 16px 0;
    max-width: 385px;
    -moz-box-shadow: 0px 10px 43px -10px rgba(37,136,192,.5);
    -webkit-box-shadow: 0px 10px 43px -10px rgba(37,136,192,.5);
    box-shadow: 0px 10px 43px -10px rgba(37,136,192,.5);
}

header .right h3 {
	color: #2588C0;
	font-size: 24px;
	font-weight: 400;
	margin: 13px 0 32px -1px;
}

header .right input,
header .right textarea,
header .right select {
	-moz-border-radius: 50px;
	-webkit-appearance: none;
	-webkit-border-radius: 50px;
	background-color: #E7f5FD;
	border-radius: 0;
	border-radius: 50px;
	border: 1px;
	color: #2588C0;
	font-size: 12px;
	font-weight: 200;
	height: 40px;
	letter-spacing: 2.3px;
	margin-bottom: 20px;
	width: 270px;
}

header .right input {
    padding-left: 31px;
}

header .right .select-type-box {
	margin: -18px 0 18px 13px;
}

header .right .select-type-box::after {
	color: #0289C3;
	content: '\f078';
	font: normal normal normal 12px/1 FontAwesome;
	position: relative;
	left: -40px;
	top: 0px;
}

header .right select {
	-moz-appearance: none;
	-webkit-appearance: none;
	letter-spacing: 1.5px;
	padding-left: 30px;
}

header .right textarea::placeholder,
header .right input::placeholder {
	color: #2588C0;
}

header .right input.wpcf7-submit {
	background-color: #2c8546;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 3px;
	margin: -3px 0 24px -4px;
	padding-left: 12px;
	padding-top: 0px;
	text-transform: uppercase;
}

header .right .or-text {
	color: #9D9C9D;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1.6px;
	margin: 0px 31%;
	text-transform: uppercase;
}

header .right a.agent-link {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	border: 1px solid;
	color: #2C8547;
	margin-left: -137px;
	margin-top: 17px;
	padding: 8px 54px;
	position: absolute;
}

header .right a.agent-link::after {
	color: #008E4E;
	content: '\f054';
	font-family: FontAwesome;
	font-size: 11px;
	position: absolute;
	right: 35px;
}

@media only screen and (min-width: 768px) {
	header .left {
		width: 420px;
	}

	header .right {
		margin: inherit;
		margin-top: 70px;
		padding: 16px 0 0 46px;
	}

	header .right a.agent-link {
		font-weight: 400;
		height: 40px;
		letter-spacing: 0px;
		margin-left: -2px;
		margin-top: 19px;
		padding: 8px 73px;
		width: 299px;
	}
	
	header .right a.agent-link::after {
		right: 56px;
	}

	header .right .select-type-box {
		margin-left: 0;
	}

	header .right .select-type-box::after {
		right: 60px;
		left: inherit;
		top: inherit;
	}	

	header .right input,
	header .right textarea,
	header .right select {
		width: 300px;			
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px){
	header .left {
    	margin: 0 auto;
		width: 420px;
	}

	header .right {
		margin: inherit;		
    	margin: 0 auto;
		margin-top: 70px;
		padding: 16px 0 0 46px;
	}
}

@media only screen and (min-width: 991px) and (max-width: 1300px) {
	header .right {
		margin-right: 5%;
		margin-top: 38px;
	}
	
	header .left {
		margin-left: 1%;
	}
}

@media only screen and (min-width: 1300px) {
	header .right {
		margin-top: 38px;
	}
}

/** HOME -> SERVICES **/

.services-home.page-section .container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 19px;
	padding-top: 13px;
}

.services-home .container {
	display: table;
}

.services-home .service-container {
	display: table-cell;
	padding: 0 20px 40px 20px;
	text-align: center;
}

.services-home .service-container h3 {
	color: #0289C3;
	font-size: 22px;
	font-weight: 400;
	margin: 32px 0 28px 0;
}

.services-home .service-container p {
	color: #969696;
	font-size: 15px;
	font-weight: 100;
	letter-spacing: 0px;
	line-height: 24px;
}

@media only screen and (min-width: 768px) {
	.services-home .service-container { 
		max-width: 50%;
	}
}

@media only screen and (min-width: 991px) {
	.services-home.page-section .container {
		display: inherit;
		flex-wrap: nowrap;
	}

	.services-home .service-container { 
		min-width: 25%;
		padding: 0 20px;
	}
}


/** HOME -> Parner Carriers trust **/

.trust-section {
	background-color: #F9F9F9;
	color: #0289C3;
	margin-top: 54px;
	text-align: center;
}

.trust-section.page-section .container {
	padding-top: 20px;
}

.trust-section.page-section .trust-description {
	margin: 0 30px;
}

.trust-section.page-section .trust-description h6 {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 42px;
}

.trust-section.page-section .trust-description p {
	font-size: 30px;
	letter-spacing: 0.5px;
	margin-top: -33px;	
}

.trust-section.page-section .trust-logos {
	margin: 0 30px 38px 30px;
}

@media only screen and (min-width: 991px) {
	.trust-section.page-section .trust-description {
		margin: 0;
	}

	.trust-section.page-section .trust-logos {
		margin: 0;
		margin-bottom: 38px;
	}

	.trust-section.page-section .trust-logos img.trust-icon {
		margin: 0 28px;
	}
}


/** HOME -> TESTIMONIAL **/

.testimonial-home {
	background-image: url("img/testimonial.jpg");
	background-position: center center;
	background-size: cover;
	color: #FFFFFF;
	height: 572px;
	text-align: center;
}

.testimonial-home .container {
	width: 90%;
}

.testimonial-home h3 {
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 45px;
    margin-top: 20px;
}

.testimonial-home h4 {
	font-size: 18px;
	font-weight: 400;
}

.testimonial-home p {
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 0.2px;
	line-height: 30px;
	margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
	.testimonial-home .container {
		width: 710px;
	}

	.testimonial-home h3 {
		margin-bottom: 87px;
		margin-top: 70px;
	}
}


/** HOME -> ABOUT US **/

.about-us-section {
	display: flex;
	flex-direction: row;
}

.about-us-section .about-us-image {
	float: left;
	position: relative;
	top: -30px;
	width: 50%;
}

.about-us-section .info-box,
.about-us-links-section .info-box {
	position: relative;
	text-align: -webkit-center;
	text-align: center;
}

.about-us-section .info-box .about-us-description h3 {
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 52px;
}

.about-us-section .info-box .about-us-description p {
	line-height: 26px;
}

.about-us-section .info-box .about-us-description p a {
	line-height: 63px;
	text-transform: uppercase;
}

.about-us-section h3,
.about-us-section p a {
	color: #2588C0;
}

.about-us-section p {
	color: #969696;
}

.about-us-section .about-us-description {
	position: relative;
	top: 58px;
	margin: 0 -4px;
}

.about-us-section .about-us-links,
.about-us-links-section .about-us-links {
	-moz-box-shadow: 13px 30px 40px -20px rgba(37,136,192,.5);
	-webkit-box-shadow: 13px 30px 40px -20px rgba(37,136,192,.5);
	box-shadow: 13px 30px 40px -20px rgba(37,136,192,.5);
	background-color: #2588C0;
	display: flex;
	flex-flow: column;
	height: 200px;
	margin-top: 219px;
	position: relative;
	text-decoration: none;
}

.about-us-section .about-us-links a,
.about-us-links-section .about-us-links a{
	color: #FFFFFF;
	text-transform: uppercase;
}

.about-us-section .about-us-links p,
.about-us-links-section .about-us-links p {
	-moz-border-radius: 88px;
	-webkit-border-radius: 88px;
	border-radius: 88px;
	border: 2px	solid #459AC9;
	font-weight: 100;
	height: 60px;
	margin: 25px 10% 0 10%;
	min-width: 192px;
	padding: 19px 50px;
}

.about-us-section .about-us-links p:first-child,
.about-us-links-section .about-us-links p:first-child {
	background-color: #1971AF;
	border: 1px	solid #1971AF;
}

.about-us-section .about-us-links p:first-child::before,
.about-us-links-section .about-us-links p:first-child::before {
	color: #FFFFFF;
	content: '\f104 ';
	font-family: FontAwesome;
	font-size: 17px;
	margin-right: 7px;
	text-transform: uppercase;
}

.about-us-section .about-us-links p:nth-child(n+2)::after,
.about-us-links-section .about-us-links p:nth-child(n+2)::after {
	color: #FFFFFF;
	content: ' \f105';
	font-family: FontAwesome;
	font-size: 17px;
	text-transform: uppercase;
}

@media only screen and (min-width: 991px) {
	.about-us-section .info-box,
	.about-us-links-section .info-box {
		left: 50%;
		text-align: inherit;
		width: 50%;
	}

	.about-us-section .info-box .container,
	.about-us-links-section .info-box .container {
		margin-top: 40px;
	}

	.about-us-section .about-us-description {
		-moz-box-shadow: 0px -4px 29px 29px rgba(255,255,255,0.7);
		-webkit-box-shadow: 0px -4px 29px 29px rgba(255,255,255,0.7);
		background-color: rgba(255, 255, 255, 0.7);
		box-shadow: 0px -4px 29px 29px rgba(255,255,255,0.7);
		margin 0;
		text-align: inherit;
		width: 440px;
	}

	.about-us-section .about-us-links,
	.about-us-links-section .about-us-links  {
		background-color: inherit;
		background-image: url(img/background_blue.png);
		background-position-x: -17px;
		background-position-y: -33px;
		background-repeat: no-repeat;
		flex-flow: row;
		height: 150px;
		margin-left: -110px;
	}

	.about-us-section.page-section {
		background-image: url(img/about_us_left_image.png);
		background-repeat: no-repeat;
		background-size: inherit;
		height: 856px;
		margin-top: -48px;
		width: 100%;
	}

	.about-us-section .about-us-links p,
	.about-us-links-section .about-us-links p {
		margin: auto 20px auto 0;
		padding: 10px 50px 0 50px;
		text-align: center;
	}

	.about-us-section .about-us-links p:first-child,
	.about-us-links-section .about-us-links p:first-child {
		margin-left: 177px;
		margin-top: 42px;
	}

	.about-us-section .about-us-links p:last-child,
	.about-us-links-section .about-us-links p:last-child {
		margin-left: -2px;
		margin-top: 42px;
		padding-right: 44px;
	}
}

@media only screen and (min-width: 1276px) {
	.about-us-section .about-us-links p,
	.about-us-links-section .about-us-links p {
		font-size: 14px;
		letter-spacing: 1.4px;
		padding: 20px 50px 0 50px;
	}
}


/** HOME -> CALL US **/

.call-us-box {
	-moz-box-shadow: -14px 40px 50px -30px rgba(103, 103, 103, 0.41);
	-webkit-box-shadow: -14px 40px 50px -30px rgba(103, 103, 103, 0.41);
	box-shadow: -14px 40px 50px -30px rgba(103, 103, 103, 0.41);
	color: #2588C0;
}

.call-us-box a {
	color: #2588C0;
}

.call-us-box .container {
	display: flex;
	flex-direction: column;
	padding: 40px 10% 0 10%;
	text-align: center;
}

.call-us-box .container p {
	display: table-cell;
	font-size: 29px;
	font-weight: 200;
	letter-spacing: 0.6px;
	line-height: 36px;
	color: #0289C3;
}

.call-us-box .container p:first-child {
	float: left;
	margin: 0 auto;
	width: 60%;
}

.call-us-box .container p:last-child {
	float: right;
	font-size: 36px;
	font-weight: 100;
}

.call-us-box .container p strong {
	font-weight: 500;
}

@media only screen and (min-width: 373px) {
	.call-us-box {
		height: 260px;
	}
}

@media only screen and (min-width: 618px) {
	.call-us-box {
		height: 230px;
	}
}


@media only screen and (min-width: 768px) {
	.call-us-box {
		height: 210px;
	}

	.call-us-box .container {
		display: block;
		flex-direction: inherit;
		text-align: inherit;
		padding: 50px 10% 0 10%;
	}

	.call-us-box .container p:first-child {
		width: 40%;
	}

	.call-us-box .container p:last-child {		
		left: -166px;
		letter-spacing: 0px;
		position: relative;
		top: -4px;
	}

}

@media only screen and (min-width: 935px) {
	.call-us-box {
		height: 153px;
	}
}

@media only screen and (min-width: 991px) {
	.call-us-box {
		float: right;
		margin-right: -3%;
		width: 1370px;
		background-image: url(img/background_white.png);
		background-position-x: -130px;
		background-position-y: -31px;
		background-repeat: no-repeat;
	}

	.call-us-box .container {
		padding-left: 308px;
		padding-right: 0;
		padding-top: 12px;
	}

	.call-us-box .container p:first-child {
		margin: 0;
		margin-left: -7px;
		margin-top: 29px;
		min-width: 182px;
	}
	
	.call-us-box .container p:last-child {	
		top: 25px;
	}
}

@media only screen and (min-width: 1056px) {
	.call-us-box {
		float: right;
		margin-right: 1%;
		width: 1370px;
	}
}

@media only screen and (min-width: 1230px) {
	.call-us-box {
		float: right;
		margin-right: 15%;
		width: 1370px;
	}
}

@media only screen and (min-width: 1600px) {
	.call-us-box {
		float: right;
		margin-right: 550px;
		width: 1370px;
	}
}

@media only screen and (min-width: 1561px) { 
	.call-us-box .container p:last-child {	
		top: 12px;
	}
}

/** FOOTER **/

.footer.page-section .container {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-bottom: 140px;
	padding-top: 114px;
}

@media only screen and (min-width: 768px) {
	.footer.page-section .container {
		flex-direction: row;
		justify-content: space-between;
	}
}


/** HOME -> FOOTER -> MENU **/

.footer .container .footer-menu {
	margin-top: 25px;
}

.footer-home .top-menu {
	overflow: hidden;
	width: 100%;
}

nav.footer-menu-items ul {
	float: right;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

nav.footer-menu-items li {
	float: left;
	margin-left: 45px;
}

nav.footer-menu-items ul li a {
	color: #286588;
	display: block;
	text-align: center;
}

nav.footer-menu-items li:last-child {
	display: none;
}

@media only screen and (min-width: 768px) {
	.footer .container .footer-menu {
		margin-top: 0;
	}
}


/** HOME -> FOOTER -> SOCIAL MEDIA **/

nav#social {
	margin-top: 30px;
}

.footer .sr-text {
	clear: both;
	display: none;
	padding-top: 10px;
}

.footer nav.social ul {
	float: right;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.footer nav.social li {
	float: left;
	margin-right: 22px;
}

.footer nav.social li:last-child	{
	margin-right: 0;
}

.footer nav.social ul li a {
	color: #286588;
	display: block;
	text-align: center;
}

.footer nav.social ul li a:before {
	-webkit-font-smoothing: antialiased;
	color: #000000;
	display: inline-block;
	font-family: 'FontAwesome';
	padding: 0 5px;
	vertical-align: top;
}

nav.social li a::before {
	background-position: center center;
	background-size: cover;
	height: 20px;
}

nav.social li a[href*="facebook.com"]::before {
	content: url("img/logo_facebook.png");
}

nav.social li a[href*="twitter.com"]::before {
	content: url("img/logo_twitter.png");
}

nav.social li a[href*="linkedin.com"]::before {
	content: url("img/logo_linkedin.png");
}

nav.social li a[href*="instagram.com"]::before {
	content: url("img/logo_instagram.png");
}

@media only screen and (min-width: 768px) {
	.footer nav#social {
		margin-top: 0;
	}
}
