
/** PARTNERS - GENERAL **/


/** PARTNERS - HEADER **/

.partners-page header.header {
	background-image: url("../img/hero_partners.png");
	margin-bottom: 0px;
}

.partners-page header .right {
	max-width: 384px;
}

.partners-page header .right input.wpcf7-submit {
	height: 31px;
	margin: -4px 0 24px -4px;
}

.partners-page header .right .your-message textarea {
	border-radius: 16px;
	height: 110px;
	letter-spacing: 1.6px;
	margin-bottom: 18px;
	padding: 10px 32px 0 32px;
	resize: none;  
}

@media only screen and (min-width: 768px) {
	.partners-page header .left {
		width: 480px;
	}
}

@media only screen and (min-width: 1300px) {
	.partners-page header .right {
		margin-top: 37px;
	}
}


/** PARTNERS - SERVICE **/

.partners-page .service-section.page-section {
	margin-top: 300px;
}

.partners-page .service-section .container {
	flex-wrap: nowrap;
	padding: 0;
	width: 100%;
}

.partners-page .service-section .service-container {
	margin: 0 auto;
	text-align: center;
	width: 80%;
}

.partners-page .service-section .service-container img.service-icon {
    margin-bottom: 35px;
}

.partners-page .service-section .service-container .service-title {
	color: #2588C0;
	font-size: 24px;
}

.partners-page .service-section .service-container .service-description {
	color: #959595;
	font-size: 15px;
	letter-spacing: 0.2px;
	line-height: 24px;
	margin-top: 27px;
}

.partners-page .trust-section.page-section {
	background-color: inherit;
	background-image: url("../img/background_trust.png");
	background-position: center center;
	background-size: cover;
	margin-bottom: -132px;
	padding-top: 126px;
	position: relative;
	top: -132px;
}

@media only screen and (min-width: 768px) {
	.partners-page .service-section.page-section {
		margin-top: 380px;
	}

	.partners-page .service-section .container {
		display: inherit;
	}

	.partners-page .service-section .service-container {
		width: 26%;
	}
}

@media only screen and (min-width: 991px) {
	.partners-page .service-section.page-section {
		margin-top: 33px;
	}

	.partners-page .service-section .container {		
		width: 1078px;
	}
}


/** PARTNERS - SERVICE **/

.partners-page .testimonials-section.page-section {
	background-color: inherit;
	background-image: url("../img/background_testimonials.png");
	background-position: center center;
	background-size: cover;
	color: #FFFFFF;
	padding-bottom: 40px;
}

.partners-page .testimonials-section .testimonial-title {
	color: #2588C0;
	font-size: 31px;
}

.partners-page .testimonials-section .container {
	flex-wrap: nowrap;
}

.partners-page .testimonials-section .testimonial-container {
	margin: 0 auto;
}

.partners-page .testimonials-section .testimonial-description {
	font-weight: 100;
	letter-spacing: 0.1px;
	line-height: 23px;
	margin-top: 35px;
}

@media only screen and (min-width: 768px) {
	.partners-page .testimonials-section.page-section { 
		height: 572px;
		padding-bottom: inherit;
	}

	.partners-page .testimonials-section .container {
		display: inherit;
	}

	.partners-page .testimonials-section .testimonial-container {
    	margin-top: 31px;
	}

	.partners-page .testimonials-section .testimonial-container:nth-child(2) { 
		margin: 31px 70px 0 70px;
	}
}

@media only screen and (min-width: 991px) {
	.partners-page .testimonials-section .testimonial-container {
		margin-top: 81px;
	}

	.partners-page .testimonials-section .testimonial-container:nth-child(2) { 
		margin: 81px 200px 0 210px;
	}
}


/** PARTNERS - ABOUT US TITLE **/

.partners-page .about-us-title {
	color: #2588C0;
	font-size: 30.5px;
	margin: 78px auto;
	text-align: center;
}


/** PARTNERS - ABOUT US SECTION **/

.partners-page .about-us-section {
	background-color: #F6F6F6;
	background-image: inherit;
	background-repeat: inherit;
	height: inherit;
}

.partners-page .about-us-section .container {
	display: flex;
}


.partners-page .about-us-section .left {
	width: 58%;
}

.partners-page .about-us-section .right {
	line-height: 48px;
	margin-top: -1px;
	padding-left: 33px;
}

.partners-page .about-us-section .right li {
	font-size: 16px;
	letter-spacing: 0;
	list-style-type: none;
}

.partners-page .about-us-section .right li:before {
	color: #419154;
	content: '\f00c';
	font: normal normal normal 15px FontAwesome;
	left: -17px;
	position: relative;
	top: 0px;
}

@media only screen and (min-width: 991px){
	.partners-page .about-us-section {
		height: 395px; 
		margin-top: inherit;
		position: relative;
		top: 66px;
	}
}


/** PARTNERS - ABOUT US SECTION **/

.partners-page .about-us-links-section {
	margin-top: 103px;
}

.partners-page .about-us-links-section .about-us-links {
	margin-top: 0;
}


/** PARTNERS - call us SECTION **/

.partners-page .call-us-box.page-section {
    margin-top: 27px;
}
