
/** ABOUT US - GENERAL **/

.about-us-page .container {
	padding: 0 30px;
}


/** ABOUT US - HEADER **/

.about-us-page header.header {
	background-image: url("../img/hero_about_us.png");
	height: 475px;
	margin-bottom: 0px;
}

.about-us-page header.header .container {
	padding-top: 30px;
}

.about-us-page .title h1 {
	color: #ffffff;
	font-size: 36px;
	font-weight: 400;
	position: relative;
	top: 101px;
}


/** ABOUT US - Top **/

.about-us-page .top_about .container {
	display: flex;
	flex-wrap: wrap;
}

.about-us-page .top_about .container > div {
	width: 100%;
}

@media only screen and (min-width: 768px) {
	.about-us-page .top_about .container > div {
		width: 49%;
	}
}

.about-us-page .top_about.page-section .container {
	padding-top: 0;
}

.about-us-page .top_about .container .left_title {
	color: #2588C0;
}

.about-us-page .top_about .container .left_text {
	color: #333333;
	font-size: 23px;
	letter-spacing: 0.56px;
	line-height: 34px;
	margin-top: 29px;
}

.about-us-page .top_about .container .right {
	color: #969696;
	font-size: 15px;
	letter-spacing: 0.56px;
	line-height: 30.8px;
	margin-top: 24px;
	position: relative;
	top: 9px;
}

@media only screen and (min-width: 768px) {
	.about-us-page .top_about .container .right {		
		left: 27px;
	}
}


/** ABOUT US - CENTRAL AREA - IMAGE **/

.about-us-page .central_about.page-section .central_image_box {
	background-color: #EBEBEB;
	height: 444px;
	margin-top: 113px;
	text-align: center;
}

.about-us-page .central_about.page-section .central_image_box img {
	position: relative;
	top: -20px;
	width: 80%;
}

@media only screen and (min-width: 768px) {
	.about-us-page .central_about.page-section .central_image_box img {		
		width: inherit;
	}
}


/** ABOUT US - CENTRAL AREA - TEXT **/

.about-us-page .bottom-descriptions.page-section {
	margin-top: 112px;
	text-align: center;
}

.central_about.page-section .container {
	padding: 90px 10% 0 10%;
}

@media only screen and (min-width: 991px) {
	.central_about.page-section .container {
		padding: 90px 260px 0 260px;
	}
}

.central_about.page-section .container .central_description_box {
	color: #969696;
	line-height: 26px;
}

.central_about.page-section .container .central_description_box p {
	margin-bottom: 23px;
}


/** ABOUT US - BOTTOM AREA **/

.about-us-page .bottom-descriptions.page-section .container {
	display: flex;
	flex-wrap: wrap;
	padding: 0px 51px;
}

.about-us-page .bottom-descriptions.page-section .container .description-container {
	margin-bottom: 50px;
	width: 100%;
}

@media only screen and (min-width: 768px) {
	.about-us-page .bottom-descriptions.page-section .container .description-container {
		margin: 0 auto 50px auto;
		width: 45%;
	}
}

@media only screen and (min-width: 1227px) {
	.about-us-page .bottom-descriptions.page-section .container .description-container {
		margin-bottom: 0;
		margin-right: 60px;
		width: 21%;
	}

	.about-us-page .bottom-descriptions.page-section .container .description-container:last-child {
		margin-right: 0;
	}
}

.about-us-page .bottom-descriptions.page-section .container .description-container img.description-icon {
	height: 40px;
}

.about-us-page .bottom-descriptions.page-section .container .description-container .description-title {
	color: #2588C0;
	font-size: 24px;
	margin-top: 35px;
}

.about-us-page .bottom-descriptions.page-section .container .description-container .description-text {
	color: #959595;
	font-size: 15px;
	line-height: 23px;
	margin-top: 30px;
}


/** ABOUT US - STATISTIC AREA **/

.about-us-page .bottom-stats.page-section {
	margin-top: 102px;
}

.about-us-page .bottom-stats.page-section::before {
	background-color: inherit;
	background-image: url(../img/background-blue-about.png);
	background-position-x: -300px;
	background-repeat: no-repeat;
	content: '';
	height: 235px;
	position: absolute;
	width: 100%;
	z-index: -1;
}

.about-us-page .bottom-stats.page-section .container {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	height: 150px;
	padding-top: 48px;
	text-transform: uppercase;
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 991px) {

	.about-us-page .bottom-stats.page-section::before {
		background-position-x: 277px;
	}

	.about-us-page .bottom-stats.page-section .container {
		margin-left: 26%;
		text-transform: uppercase;
		width: 879px;
	}
}

.about-us-page .bottom-stats.page-section .container .statistic-number {
	font-size: 29px;
}

.about-us-page .bottom-stats.page-section .container .statistic-title {
	margin-top: 17px;
	font-size: 14px;
}

.about-us-page .bottom-stats.page-section .container .statistic-container {
	color: #FFFFFF;
	margin: 0 auto;
	text-align: center;
}


/** ABOUT US - FOOTER AREA **/

.about-us-page .footer.page-section {
    margin-top: 55px;
}

.about-us-page .footer.page-section .container {
	padding-top: 0px;
}
