
/** GENERAL SERVICES - GENERAL **/

.general-services-page .general-services-section .container {
	max-width: 1275px;
}


/** GENERAL SERVICES - HEADER **/

.general-services-page header.header {
	background-image: url("../img/hero_services.png");
	height: 477px;
	margin-bottom: 0px;
}

.general-services-page header .title h1 {
	color: #FFFFFF;
	font-size: 36px;
	font-weight: 400;
	margin-top: 117px;
}


/** GENERAL SERVICES - INFO **/

.general-services-section {
	background-image: url("../img/background_services.png");
	background-position: center center;
	background-size: auto;
	background-size: cover; 
	margin-top: -220px;
}

.general-services-section .service-container {
	margin-bottom: 40px;
}

.general-services-page .mobile-style {
	display: block;
}

.general-services-page .serv2 .left-box,
.general-services-page .serv4 .left-box,
.general-services-page .serv2 .right-box,
.general-services-page .serv4 .right-box {
	display: none;
}

.general-services-section .serv1 .right-box,
.general-services-section .serv3 .right-box,
.general-services-section .serv2 .service-title,
.general-services-section .serv4 .service-title {
	margin-top: -80px;
}

.general-services-section .service-container img.service-icon {
	margin-bottom: 40px;
	max-width: 100%;
	min-width: 300px;
}

.general-services-section .service-container .service-title {
	color: #2588C0;
	font-size: 30px;
}

.general-services-section .service-container .service-details {
	color: #969696;
	font-size: 16px;
	line-height: 26px;
	margin-top: 53px;
}

.general-services-section .service-container .one-list ul:nth-child(2) {
	margin-top: -13px;
}

.general-services-section .service-container .items-list {
	color: #969696;
	display: flex;
	flex-wrap: wrap;
	line-height: 30px;
	margin-top: -19px; 
}

.general-services-page .service-container .one-list {
	display: block;
}

.general-services-page .service-container .left-list,
.general-services-page .service-container .right-list {
	display: none;
}

.general-services-section .service-container li {
	font-size: 16px;
	letter-spacing: 0;
	list-style-type: none;
}

.general-services-section .service-container li:before {
	color: #2588C0;
	content: '\f00c';
	font: normal normal normal 15px FontAwesome;
	left: -14px;
	position: relative;
	top: 0px;
}

.general-services-page .service-container .read-more-link {
	margin-top: 20px;
}

@media only screen and (min-width: 768px) {
	.general-services-section .service-container img.service-icon {
		margin-bottom: inherit;
		width: inherit;
	}

	.general-services-section .container {
		bottom: 210px;
	}

	.general-services-section .service-container .items-list {
		line-height: 40px;
		margin: 0 auto;
		width: 560px;
	}

	.general-services-page .service-container .one-list {
		display: none;
	}

	.general-services-page .service-container .left-list,
	.general-services-page .service-container .right-list {
		display: block;
	}

	.general-services-section .serv1 .right-box,
	.general-services-section .serv3 .right-box,
	.general-services-section .serv2 .service-title,
	.general-services-section .serv4 .service-title {
		margin-top: inherit;
	}

	.general-services-section .serv1 .read-more-link,
	.general-services-section .serv3 .read-more-link {
		margin-left: -4px;
		margin-top: 21px;
	}

	.general-services-section .serv2 .read-more-link,
	.general-services-section .serv4 .read-more-link {
		margin-left: -1px;
		margin-top: 22px;
	}
}

@media only screen and (min-width: 991px) {
	.general-services-page .mobile-style {
		display: none;
	}

	.general-services-page .serv2 .left-box,
	.general-services-page .serv4 .left-box,
	.general-services-page .serv2 .right-box,
	.general-services-page .serv4 .right-box {
		display: block;
	}

	.general-services-section {
		background-position-y: 387px;
		background-repeat: no-repeat;
		background-size: inherit;
	}
	
	.general-services-section .container {
		display: flex;
		flex-direction: column;
	}

	.general-services-section .service-container {
		display: flex;
		flex-direction: row;
		margin-bottom: inherit;  
	}

	.general-services-section .serv1 .right-box,
	.general-services-section .serv3 .right-box {
		float:right;
		width: 50%;
	}

	.general-services-section .serv1 .left-boxn
	.general-services-section .serv3 .left-box {
		float: left;
	}

	.general-services-section .serv1 .right-box {
		position: relative;
		right: 7px;
		top: 170px;
	}

	.general-services-section .serv3 .right-box {
		position: relative;
		right: 7px;
		top: -11px;
	}

	.general-services-section .serv1 .left-box {
		bottom: -71px;
		flex-basis: 658px;
		position: relative;
		right: 31px;
	}

	.general-services-section .serv3 .left-box {
		bottom: 68px;
		flex-basis: 658px;
		position: relative;
		right: 56px;
	}

	.general-services-section .serv1 .left-list,
	.general-services-section .serv3 .left-list {
		bottom: 19px;
		position: relative;
		right: 42px;
	}

	.general-services-section .serv1 .right-list,
	.general-services-section .serv3 .right-list {
		bottom: 19px;
		position: relative;
		right: 12px;
	}

	.general-services-section .serv1 .read-more-link,
	.general-services-section .serv3 .read-more-link {
		margin-left: -3px;
		margin-top: 2px;
	}

	.general-services-section .serv2 .right-box,
	.general-services-section .serv4 .right-box {
		float:right;
		width: 88%;
	}

	.general-services-section .serv2 .left-boxn
	.general-services-section .serv4 .left-box {
		float: left;
	}

	.general-services-section .serv2 .right-box{
		bottom: 52px;
		position: relative;
		right: -117px;
	}
	.general-services-section .serv4 .right-box {
		bottom: 37px;
		position: relative;
		right: -115px;
	}

	.general-services-section .serv2 .left-box,
	.general-services-section .serv4 .left-box {
		bottom: -23px;
		flex-basis: 590px;
		position: relative;
		right: -7px;
	}	

	.general-services-section .serv2 .left-list,
	.general-services-section .serv4 .left-list {
		bottom: 6px;
		position: relative;
		right: 27px;
	}

	.general-services-section .serv2 .right-list,
	.general-services-section .serv4 .right-list {
		position: relative;
		right: -3px;
   		bottom: 6px;
	}

	.general-services-section .serv2 .read-more-link,
	.general-services-section .serv4 .read-more-link {
		margin-left: 0px;
		margin-top: 15px;
	}

	.service-container.serv2 {
		margin-top: 142px;
	}

	.service-container.serv4 {
		position: relative;
		top: -15px;
	}
}



@media only screen and (min-width: 991px) and (max-width: 1150px){
	.general-services-section .serv1 .right-box, 
	.general-services-section .serv3 .right-box {
		right: 97px;
	}
	.general-services-section .service-container img.service-icon {
		width: 90%;
	}
}



/** GENERAL SERVICES - FOOTER **/

.general-services-page .footer.page-section .container {
	padding-top: 98px;
}


@media only screen and (min-width: 991px) {
	.general-services-page .footer.page-section {
		margin-top: 0;
	}
}
@media only screen and (min-width: 1170px) {
	.general-services-page .footer.page-section {
		margin-top: -107px;
	}
	.general-services-page .footer.page-section .container {
		padding-top: 98px;
	}
}
