
/** SERVICES DETAILED - GENERAL **/

.services-detailed-page .service-details {
    color: #959595;
    line-height: 26px;
}


/** SERVICES DETAILED - HEADER **/

.services-detailed-page header.header {
    background-image: url("../img/hero_services_detailed.png");
    height: 477px;
    margin-bottom: 0px;
}

.services-detailed-page header .title h1 {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 400;
    margin-top: 117px;    
    margin-top: 77px;
    margin-left: 8%;
}

.services-detailed-page .general-description-section .container {
    color: #959595;
    line-height: 26px;
    margin-top: -24px;
    max-width: 830px;
    padding-top: 0;
    text-align: center;
}

@media only screen and (min-width: 991px) {
    .services-detailed-page header .title h1 {
        margin-top: 117px;
        margin-left: 0;
    }
}

/** SERVICES DETAILED - FIRST SECTION **/

.services-detailed-page .services-detailed-section .services-detailed-title-section {
    color: #2588C0;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.services-detailed-page .services-detailed-section .detail-container.det1 {
    margin-top: 71px;
}

.services-detailed-page .services-detailed-section .left-box {
    text-align: center;
}

.services-detailed-page .detail-icon {
    border-radius: 25px;
    width: 50%;
}

.services-detailed-page .services-detailed-section .service-title,
.services-detailed-page .services-detailed-central-section .service-title {
    color: #2588C0;
    font-size: 24px;
    margin-top: 35px;
}

.services-detailed-page .services-detailed-section .service-details ul,
.services-detailed-page .services-detailed-central-section .service-details ul {
    margin-top: -3px;
    padding-left: 12px;
}

.services-detailed-page .services-detailed-section .service-details li,
.services-detailed-page .services-detailed-central-section .service-details li {
    letter-spacing: 0;
    list-style-type: none;
    margin-top: 14px;
}

.services-detailed-page .services-detailed-section .service-details li:before, 
.services-detailed-page .services-detailed-central-section .service-details li:before {
    color: #2588C0;
    content: '\f111';
    font: normal normal normal 16px FontAwesome;
    left: -13px;
    position: relative;
    top: 0px;
}

@media only screen and (min-width: 768px) {
    .services-detailed-page .services-detailed-section .container {
        padding-top: 73px;
    }

    .services-detailed-page .services-detailed-section .detail-container,
    .services-detailed-page .services-detailed-central-section .detail-container {
        display: flex;
        flex-direction: row;
        margin-bottom: inherit;
    }

    .services-detailed-page .services-detailed-section .detail-icon,
    .services-detailed-page .services-detailed-central-section .detail-icon {
        height: 288px; 
        width: 370px;
    }
    
    .services-detailed-page .services-detailed-section .detail-icon { 
        margin-left: 28%;
    }

    .services-detailed-page .services-detailed-central-section .detail-icon {
        margin-left: 2%;
    }

    .services-detailed-page .services-detailed-section .right-box {
        margin-left: 20.5%;
    }

    .services-detailed-page .services-detailed-section .service-title,
    .services-detailed-page .services-detailed-central-section .service-title {
        font-size: 24px;
        margin-top: 6px;
    }

    .services-detailed-page .services-detailed-section .service-details,
    .services-detailed-page .services-detailed-central-section .service-details {
        margin-top: 56px;
    }
}

@media only screen and (min-width: 991px) {
    .services-detailed-page .services-detailed-central-section .detail-icon {
        margin-left: 4%;
    }
}

@media only screen and (min-width: 1150px) {
    .services-detailed-page .services-detailed-central-section .detail-icon {
        margin-left: 28%;
    }
}


/** SERVICES DETAILED - CENTRAL SECTION **/

.services-detailed-page .services-detailed-central-section .container { 
    padding-top: 80px;
}

.services-detailed-page .services-detailed-central-section .right-box {
    display: none;
}

.services-detailed-page .services-detailed-central-section .mobile-style {
    text-align: center;
}

@media only screen and (min-width: 768px) {

    .services-detailed-page .mobile-style {
        display: none;
    }

    .services-detailed-page .services-detailed-central-section { 
        background-image: url(../img/background_central_services_detailed.png);
        background-repeat: no-repeat;
        height: 835px;
        margin-top: -81px;
        max-width: 1920px;
    }

    .services-detailed-page .services-detailed-central-section .container {
        margin-top: 186px;
    }

    .services-detailed-page .services-detailed-central-section .left-box {
        max-width: 600px;
    }

    .services-detailed-page .services-detailed-central-section .service-title {
        margin-top: 0;
    }

    .services-detailed-page .services-detailed-central-section .service-details {
        margin-top: 55px;
    }

    .services-detailed-page .services-detailed-central-section .right-box {
        display: block;
        margin-left: 1%;
        margin-top: -8px;
    }    
}


/** SERVICES DETAILED - THIRD SECTION **/

.services-detailed-page .services-detailed-section .detail-container.det3 {
    margin-top: 50px;
}

@media only screen and (min-width: 768px) {
    .services-detailed-page .services-detailed-section .detail-container.det3 {
        margin-top: -98px;
    }

    .services-detailed-page .services-detailed-section .detail-container.det3 .right-box {
        margin-top: 10px;
    }
}


/** SERVICES DETAILED - SECOND TITLE SECTION **/

.services-detailed-page .second-title-section {
    margin-top: 50px;
}

.services-detailed-page .second-title-section .second-title {
    color: #2588C0;
    font-size: 30px;
    font-weight: 500; 
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .services-detailed-page .second-title-section {
        margin-top: 117px;
    }
}


/** SERVICES DETAILED - MORE DETAILS SECTION **/

.services-detailed-page .more-details-section {
    background-image: url(../img/background_more_details.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    margin-top: 68px;
    max-width: 1920px;
}

.services-detailed-page .more-details-section .more-details .mobile-style {
    text-align: center;
    margin: 40px auto;
}

.services-detailed-page .more-details-section .more-details .right-box,
.services-detailed-page .more-details-section .more-details .left-box {
    display: none;
}

.services-detailed-page .more-details-section .more-details .right-box {
    margin-left: 10%;
}

.services-detailed-page .more-details-section .more-details {
    color: #FFFFFF; 
    display: flex;
    flex-direction: row;
    font-weight: 100;
    margin: 0 auto;
    max-width: 805px;
}

.services-detailed-page .more-details-section .more-details ul {
    line-height: 33px;
    margin-top: -10px;
    padding-left: 12px;
}

.services-detailed-page .more-details-section .more-details li {
    font-size: 16.3px;
    letter-spacing: 0;
    list-style-type: none;
}

.services-detailed-page .more-details-section .more-details li:before {
    color: #2C8541;
    content: '\f00c';
    font: normal normal normal 16px FontAwesome;
    left: -13px;
    position: relative;
    top: 0px;
}

@media only screen and (min-width: 991px) {
    .services-detailed-page .more-details-section {
        height: 527px;
    }

    .services-detailed-page .more-details-section .container {
        margin: 96px auto 0 auto;
    }

    .services-detailed-page .more-details-section .more-details .mobile-style {
        display: none;
    }

    .services-detailed-page .more-details-section .more-details .right-box,
    .services-detailed-page .more-details-section .more-details .left-box {
        display: block;

    }

    .services-detailed-page .more-details-section .more-details .left-box {
        margin-left: -12px;
    }


    .services-detailed-page .more-details-section .more-details ul {
        line-height: 40px;
    }  

}


/** SERVICES DETAILED - TRUST SECTION **/

.services-detailed-page .trust-section.page-section {
    background-color: #FFFFFF;
    margin-top: 0;
}

@media only screen and (min-width: 768px) {
    .services-detailed-page .trust-section.page-section .container {   
        padding-top: 41px;
    }
}


/** SERVICES DETAILED - ABOUT US LINKS SECTION **/

.services-detailed-page .about-us-links-section .about-us-links {
    margin-top: -22px;
}


/** SERVICES DETAILED - CALL US SECTION **/

@media only screen and (min-width: 768px) {
    .services-detailed-page .call-us-box.page-section {   
        margin-top: 27px;
    }

    .services-detailed-page .footer.page-section .container {
        padding-top: 66px;
    }
}

